*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: white;
}

.container{
  margin: 0 auto;
  max-width: 1500px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(90deg, rgba(241,69,228,1) 0%, rgba(61,243,244,1) 100%);
}
.aside__container{
  padding: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.aside__header, .header__logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

#logoImg{
  max-width: 300px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.header__title h1{
  font-weight: 400;
  font-size: 1.9rem;
}

.header__title h1 span{
  font-weight: 800;
}

.header__text{
  margin-top: 15px;
  font-size: 1.2rem;
  text-align: center;
}

.aside__content{
  margin-top: 100px;
}

.item-aside__title{
  font-size: 1.7rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 100px;
  background: radial-gradient(circle, rgba(246,187,197,1) 17%, rgba(162,251,214,1) 85%);
  color: rgb(228, 100, 100);
}

.item-aside__list li{
  line-height: 4rem;
  font-size: 1.5rem;
  color: white;
}

.item-aside__list li i{
  padding: 0 20px 0 10px;
}

.aside-language li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
}

.aside-language li div{
  display: flex;
}

.aside-language li div div{
  background: black;
  width: 15px;
  height: 15px;
  margin-left: 20px;
  border-radius: 50%;
}

.aside-language li:last-child div div:last-child, .aside-language li:last-child div div:nth-child(4){
  background: white;
}

.aside__item:last-child .item-aside__list ul{
  display: flex;
  justify-content: space-between;
}

.main__container{
  padding: 70px;
  padding-top: 140px;
  color: white;
}

.main__item{
  margin-bottom:100px;
}

.main__title{
  font-size: 1.7rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.main__title i{
  margin-right: 30px;
}

.main__title h2{
 border-bottom: 5px solid white;
 width: 100%;
}

.main__content{
  font-size: 2rem;
  text-align: justify;
}

.main__item:nth-child(2) .main__list li{
  line-height: 4rem;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

.main__list li i{
  margin-right: 20px;
}

.main__item:last-child .main__list ul{
  display: flex;
  justify-content: space-between;
}

.main__item:last-child .main__list li{
  align-items: center;
  display: flex;
  line-height: 4rem;
}

.main__item:last-child .main__list li p{
  width: 40%;
  font-size: 2rem;
  margin-right: 40px;
}

.main__item:last-child .main__list li div{
  display: flex;
}

.main__item:last-child .main__list li div div{
  background: black;
  width: 15px;
  height: 15px;
  margin-left: 20px;
  border-radius: 50%;
}

.main__item:last-child .main__list div:first-child li:first-child div div:last-child{
  background: white;
}

.main__item:last-child .main__list div:first-child li:last-child div div:last-child{
  background: white;
}

.main__item:last-child .main__list div:last-child li:first-child div div:last-child{
  background: white;
}

.main__item:last-child .main__list div:last-child li:first-child div div:nth-child(4){
  background: white;
}

.main__item:last-child .main__list div:last-child li:last-child div div:last-child{
  background: white;
}

.main__item:last-child .main__list div:last-child li:last-child div div:nth-child(4){
  background: white;
}

.main__item:last-child .main__list div:last-child li:last-child div div:nth-child(3){
  background: white;
}